html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  height: 6vh;
  width: 100%;
}
.navbar :link {
  color: black;
}
.navbar :link :hover {
  opacity: 50%;
}
.navbar .left-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  border: 1px solid green;
  margin-left: 25%;
}
.navbar .left-navbar :hover {
  opacity: 50%;
}
.navbar .right-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 14vw;
  font-size: small;
  padding: 2%;
  margin-left: 47%;
}
.navbar .right-navbar :last-child {
  background-color: aqua;
}
.navbar .right-navbar :hover {
  opacity: 50%;
  background-color: aqua;
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  border: 1px solid red;
  justify-content: center;
  align-items: center;
  background-image: url("../images/blue-sky-clouds.jpg");
  margin-bottom: 3%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 37%;
}
.hero .welcome {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  border: 1px solid blue;
  padding-top: 10%;
  margin-bottom: 5%;
}
.hero .welcome .welcome-title {
  display: flex;
  justify-content: center;
  font-size: 350%;
  border: 1px solid green;
}
.hero .welcome .paragraph {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 130%;
  justify-content: center;
  border: 1px solid blue;
}
.hero .welcome .see-more-link {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: 1px solid grey;
  padding: 1%;
}
.hero .stand-for {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-left: 2.5%;
  margin-top: 8%;
  justify-content: space-between;
  align-items: center;
  border: 1px solid orange;
  border-radius: 10px;
  background-color: white;
}
.hero .stand-for .stand-for-title {
  display: flex;
  justify-content: center;
  font-size: 255%;
  border: 1px solid blue;
}
.hero .stand-for .stand-for-images {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  width: 45%;
}
.hero .stand-for .stand-for-caption-titles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 47%;
  font-size: x-large;
  margin-bottom: 2%;
}
.hero .stand-for .stand-for-caption-titles .title-2 {
  display: flex;
  margin-right: 2%;
}
.hero .stand-for .stand-for-caption-titles .title-3 {
  display: flex;
  margin-right: 2%;
}
.hero .stand-for .stand-for-caption-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 61%;
  font-size: 0.95rem;
  opacity: 50%;
  margin-top: -3.5%;
  text-align: center;
}
.hero .about {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-left: 2.5%;
}
.hero .about .about-title {
  display: flex;
  padding-left: 20%;
  border: 1px solid black;
  font-size: 255%;
  width: 25%;
}
.hero .about .about-content {
  display: flex;
  padding-left: 20%;
  flex-wrap: wrap;
  width: 24%;
  border: 1px solid blue;
}
.hero .about .about-img {
  display: block;
  justify-content: flex-start;
  width: 10%;
  border: 1px solid red;
  margin-left: auto;
  margin-right: auto;
}
.hero .footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: grey;
  width: 100%;
  height: 5vw;
}
.hero .footer .left-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
}
.hero .footer .left-footer :link {
  font-size: small;
  color: white;
}
.hero .footer .right-footer {
  color: white;
}
.hero .footer .right-footer :link {
  color: white;
}
@media all and (min-width: 320px) and (max-width: 600px) {
  .hero .body {
    align-items: center;
    flex-direction: column;
    width: 100vw;
  }
  .hero .body .hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}/*# sourceMappingURL=page-1.css.map */