html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  height: 6vh;
  width: 100%;
}
.navbar:link {
  color: black;
}
.navbar:link:hover {
  opacity: 50%;
}
.navbar .left-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  border: 1px solid green;
  margin-left: 25%;
}
.navbar .left-navbar:hover {
  opacity: 50%;
}
.navbar .right-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 14vw;
  font-size: small;
  padding: 2%;
  margin-left: 47%;
}
.navbar .right-navbar a:last-child {
  background-color: blue;
}
.navbar .right-navbar :hover {
  opacity: 50%;
  background-color: rgb(221, 4, 41);
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  border: 1px solid red;
  justify-content: center;
  align-items: center;
  background-image: url("../images/blue-sky-clouds.jpg");
  margin-bottom: 3%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 37%;
  z-index: 1;
}
.hero .welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-bottom: 5%;
  background-image: url("../images/liberty.png");
  background-position: top;
  background-size: cover;
  z-index: 3;
}
.hero .welcome .welcome-title {
  display: flex;
  justify-content: center;
  font-size: 350%;
  border: 1px solid green;
}
.hero .welcome .paragraph {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 130%;
  justify-content: center;
  border: 1px solid blue;
}
.hero .welcome .see-more-link {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: 1px solid grey;
  padding: 1%;
}
.hero .stand-for {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-left: 2.5%;
  margin-top: 8%;
  justify-content: space-between;
  align-items: center;
  border: 1px solid orange;
  border-radius: 10px;
  background-color: white;
}
.hero .stand-for .stand-for-title {
  display: flex;
  justify-content: center;
  font-size: 255%;
  border: 1px solid blue;
}
.hero .stand-for .stand-for-images {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  width: 45%;
}
.hero .stand-for .stand-for-caption-titles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 47%;
  font-size: x-large;
  margin-bottom: 2%;
}
.hero .stand-for .stand-for-caption-titles .title-2 {
  display: flex;
  margin-right: 2%;
}
.hero .stand-for .stand-for-caption-titles .title-3 {
  display: flex;
  margin-right: 2%;
}
.hero .stand-for .stand-for-caption-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 61%;
  font-size: 0.95rem;
  opacity: 50%;
  margin-top: -3.5%;
  margin-bottom: 2%;
  text-align: center;
}
.hero .about {
  border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 400px;
  margin-left: 2.5%;
  background-image: url("https://wp-themes.com/wp-content/themes/hestia/assets/img/contact.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.hero .about .about-left-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
}
.hero .about .about-left-side .about-title {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border: 1px solid black;
  font-size: 240%;
  width: 70%;
}
.hero .about .about-left-side .about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 45%;
  flex-wrap: wrap;
  width: 43%;
  border: 1px solid blue;
}
.hero .about .about-img {
  display: flex;
  justify-content: c;
  align-self: center;
  width: 40%;
  border: 1px solid green;
}
.hero .about .about-img img {
  display: flex;
  border: 1px solid black;
  width: 65%;
}
.hero .blog {
  display: flex;
  justify-content: center;
  border: 1px solid red;
  width: 95%;
  margin-left: 2.5%;
  margin-bottom: 2%;
  font-size: 2.5rem;
}
.hero .blog-posts {
  display: flex;
  width: 95%;
  margin-left: 2.5%;
  justify-content: center;
  border: 1px solid blue;
}
.hero .blog-posts .post-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 14px;
}
.hero .blog-posts .post-2 {
  display: flex;
  width: 16.6%;
  padding: 0 13%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 14px;
}
.hero .blog-posts .post-3 {
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 14px;
}

.bottom-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 95%;
  padding-left: 5%;
  background-image: url("https://wp-themes.com/wp-content/themes/hestia/assets/img/contact.jpg");
  background-size: 95%;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
.bottom-content .bottom-content-title {
  font-size: 2.2rem;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(74, 72, 72);
  width: 100%;
  height: 5vw;
}
.footer .left-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
}
.footer .left-footer :link {
  font-size: small;
  color: white;
}
.footer .right-footer {
  color: white;
}
.footer .right-footer :link {
  color: white;
}

@media all and (min-width: 320px) and (max-width: 600px) {
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    width: 100vw;
  }
  .body .hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}/*# sourceMappingURL=page-1.css.map */